@charset "utf-a";

#non-head{
    margin-top: 80px;
    margin-left: 15px

}

h1 {
    margin-top: 15px;
    text-align: center;
    color: #3629ab;
  }

#explanation{
    margin-left: 200px;

}

.btn btn-link{
    margin-left: 200px;
    
}